body {
    margin: 0;
    padding: 0;
    background: url(images/bgg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    opacity: 0.75;
}
a{
    text-decoration: none;
}
.title {
    text-align: center;
    padding: 40px 0 20px;
}
.title h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size:36px;
}
.container {
    width: 50%;
    height: 400px;
    background:#FFF;
    margin: 0 auto;
    border: 2px solid #FFF;
    box-shadow:0 15px 40px rgba(0,0,0,.5)
}
.container .left {
    margin: 0;
    padding: 0;
    float:left;
    width:50%;
    height:400px;
    background: url(images/anticorrupt.png) no-repeat center;
    background-size: contain;
    box-sizing: border-box;
    resize: both;

}
.container .right {
    float:right;
    width:50%;
    height:400px;
    box-sizing: border-box;
}
.form {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #FFF;
}
.form p {
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #333;
}
.form input {
    margin-bottom: 20px;
    width: 100%;
}
.form input[type="email"],
.form input[type="text"],
.form input[type="password"] {
    border: none;
    border-bottom: 2px solid #111;
    outline: none;
    height: 40px;
}
button[type="submit"] {
    border: none;
    outline: none;
    margin-bottom: 15px;
    height: 40px;
    color: #FFF;
    background:green;
    border-radius: 12px;
    cursor: pointer;
}
.signup {
    text-decoration-color:black !important;
    margin-top: 10px;
}
.logo{
    position:relative;
    float:left;
    left:50px;
    background-color:none;
    font-size:38px;
    font-weight: bold;
}
.banner {
    position: relative;
    top: 20px;
}
img {
    width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 100px;
    overflow: hidden;
    background-color: #333;
    
}

li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    width: 0.5%;
    height: 0.5%;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.container-special{
    width:1200px;
    float:left;
    position:relative;
    left:50%;
    margin-left:-600px;
    background:#fff;
    padding:10px;
}
/* section */
article section{
    padding:0;
}
/* basic page column layout */
.halves,.thirds{
    width:49%;
    float:left;
    margin-right:2%;
}
.thirds{
width:32.66666%;
margin-right:1%;
}
.last{
margin-right:0;
}
#redflags {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
    width: 100%;
}

#redflags td, #redflags th {
    border: 1px solid #ddd;
    padding: 8px;
}

#redflags tr:nth-child(even){background-color: #f2f2f2;}

#redflags tr:hover {background-color: #ddd;}
th {
    color: white;
    font-weight: bold;
    font-size:30px;
    text-align: center;
    letter-spacing: 0.001em;
    padding-top: 12px;
    padding-bottom: 12px;
}
#redflags th {
    background-color: rgb(187, 14, 14);
    
}
#interventions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#interventions td, #interventions th {
    border: 1px solid #ddd;
    padding: 8px;
}

#interventions tr:nth-child(even){background-color: #f2f2f2;}

#interventions tr:hover {background-color: #ddd;}

#interventions th {
    background-color: #4CAF50;
}
button {
    font-size:20px;
    border: none;
    outline: none;
    height: 40px;
    color: #FFF;
    width:180px;  
    position:relative;
    top:20%; 
    left:10%;
    border-radius: 12px;
}
.redflag{
    background: rgb(187, 14, 14);
    margin-bottom: 40px;
    margin-top: 30px;
    
}
.intervention {
    background:green;
}
@media only screen and (max-width: 600px) {
    .container{
        min-width: 80%;
    }    
}